<html lang="en">
 {{> head}}
  <body>
     {{!-- HEADER --}}
     {{>header}}
    {{!-- BODY --}}
      <div class="container">
        {{{body}}}
      </div>

     {{!-- FOOTER --}}
     {{>footer}}
  </body>
</html>



